/* reset */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* body */

body {
  font-family: sans-serif;
  line-height: 1.55em;
  font-size: 16px;
}

h1,
h2,
h3 {
  color: var(--text-primary);
}

/* lists */

ul {
  display: block;
}

ul > li {
  list-style: none;
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

ul > li::before {
  --size: 0.25rem;
  content: "";
  border-radius: 50%;
  background-color: black;
  flex: 0 0 var(--size);
  height: var(--size);
  width: var(--size);
}


/* BRANDS */

.surface-0-dp {
  background-color: hsl(210, 25%, 96%);
}

.surface-6-dp {
  background-color: hsl(210, 25%, 98%);
}

.text-primary {
  color: var(--text-primary);
}

.text-secondary {
  color: var(--text-secondary);
}

/* images */

img,
picture {
  display: block;
  max-width:100%;
}

/* utils */

.row {
  display: flex;
  flex-direction: row;
  gap: var(--padding-1);
}

.page {
  margin: 0 auto;
  padding: 0 var(--padding-1);
  max-width: var(--page-max-width);
  box-sizing: content-box;
}

.box {
  padding: var(--padding-1);
}

.vstack > * + * {
  margin-top: var(--padding-1);
}

.vstack[data-stack-variant="large"] > * + * {
  margin-top: var(--padding-1-5);
}

a {
  display: inline-block;
  color: var(--text-primary);
  text-decoration: none;
}

a[href^="https://"]::after {
  content: "\2794";
  display: inherit;
  margin-inline-start: var(--padding-0-5);
  font-size: 0.9em;
  color: var(--text-secondary);
  transition: transform 300ms ease-in;
}
@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }

  a[href^="https://"]:hover::after {
    transform: translate(5px);
  }
}


/* BLOCKS */

.tile {
  box-shadow: var(--box-shadow-1), var(--box-shadow-2), var(--box-shadow-3);
  border-radius: var(--border-radius-normal);
}

.profile {
  display: flex;
  align-items: center;
  margin-block: var(--padding-1-5);
  gap: var(--padding-1);
}

.profile img {
  background-color: var(--surface-2-dp);
  width: 100px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: var(--border-radius-normal);
}


.profile > .profile__inner {

}
