* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: sans-serif;
}

body {
	background-color : #eee;
	color: #222;
	font-size: 14px;
}

img {
	width: 200px;
	height: auto;
}

.main { }

.header {
	background-color : #fefefe;
	padding: 2em 1em;
	border-radius: 0 0 8px 8px;
}

.header__logo {
	font-size: 2em;
	font-weight:400;
}

.header--inverted {
	background-color: #0F1743;
	color: #fefefe;
}

.header__today {
	margin-top: 1em;
	font-size: 1.5em;
	font-weight: normal;
}

.header--inverted .step__date {
	color: #efefef;
	font-weight: normal;
}

.step {
	margin: 1em 1em 0em;
	padding: 1em;
}

.sub_header {
	font-weight:normal;
	text-decoration: italic;
	font-size: 1.1em;
	margin-left: 1em;
}

.step--break {
	
} 

.step__date {
	color: #999;
	font-size: 1em;
}

.step__walk {
	font-size: 1.2em;
	line-height:1.5;
}

.step__walk .end::before{
	content:" -> ";
	font-size: 1.1em;
	font-weight: bold;
}

.step--break .end::before {
	display: none;
}

.step--current {
	position: relative;
	background-image: linear-gradient(
		to right,
		#fefefe,
		transparent
	);

	background-color: #fefefe;
	border-radius: 8px;
}

.step__distance {
	text-align: right;
}

@media screen and (min-width: 40em) {

	body {
		display: flex;
		flex-direction: row;
	}

	.main {
		flex-grow: 1;
		height: 100vh;
		overflow-y: scroll;
	}

	.header {
		flex-basis: 300px;
		align-self: flex-start;

		min-height: 50vh;
		margin: 0 0.5em;
		
		box-shadow: 0 0 10px hsla(204, 37%, 4%, 0.25);
	}
}

@media print {
	.header {
		background: none;
		color: #333;
	}

	#js-step-today {
		display: none;
	}

	#js-journey-list li .sub_header {
		display: none;
	}
}